@import "globals.scss";

.card {

    position: relative;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;
    border-radius: 0.6rem;
    min-width: 0;
    width: 100%;
    background-clip: border-box;
    box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%), 0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%);

}


.cardInner {
    padding: $padding;
}


@include query(mobile) {
    .cardInner {
        padding: $padding * .75;
    }
}






.cardHeader {

    padding-bottom: $padding;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header.cardHeader:only-of-type {
    margin-bottom: $padding;
}


.cardHeader:nth-child(2) {


    border-bottom: 1px solid #e1e5eb;
    padding-top: $padding * .7;
    padding-bottom: $padding * .7;
    margin-bottom: $padding;
}

.cardTitle {
    color: $text-color-primary;
    font-weight: 600;
    font-size: 1.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.cardFooter {
    margin-top: 0;
    border-top: 1px solid rgba(0, 0, 0, .125);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.cardBody {
    background-color: #fff;
    margin-bottom: 0;
}



.card,
.cardBody {
    border-radius: 5px;
}

.cardBody {

    border-radius: 0 0 5px 5px;
}


.cardHeader:first-child {
    border-radius: 5px 5px 0 0;
}

.cardFooter {
    border-radius: 0 0 5px 5px;
}