@import "../styles/globals.scss";


.dropdown {
    width: auto;
    user-select: none;
    margin: 0px;
    position: relative;
    
    
}

.dropdownBtn {

    font-size: 0.75rem;
    border: 1px solid #e1e5eb;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem 0.375rem 0.75rem;
    background: #fff;
    box-shadow: none;
    font-weight: 400;
    color: #333;  
    cursor: pointer;
    display: flex;
    height: 2rem;
    min-width: 2.2rem;
    align-items: center;
    justify-content: space-between;

    svg {
      margin-left: 8px;

    }
  }
  
  .dropdownContent {
    position: absolute;
    top: calc(100% + 5px) ;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: auto;
    z-index:2;

    

    
    
  }
  
  .dropdownItem {
    padding: 10px;
    font-size: 0.75rem;
    width: auto;
    cursor: pointer;
    transition: all 0.2s;

    
  }
  
  .dropdownItem:hover {
    background: #f4f4f4;
  }