@import '../styles/globals.scss';

.dropdown {
  user-select: none;
  margin: 0px;
  position: relative;
}

.dropdown-btn {
  padding: 3px 12px;
  font-size: 0.95rem;
  font-weight: 500;
  height: 34px;

  background-color: $active-color;
  border: 1px solid #e1e5eb;
  border-radius: 3px;

  box-shadow: none;
  cursor: pointer;
  display: flex;
  min-width: 2.2rem;
  align-items: center;
  justify-content: space-between;

  svg {
    margin-left: 8px;
  }

  &:hover {
    opacity: 0.8;
  }

  &.btn-sm {
    padding: 3px 8px;
    font-size: 0.88rem;
    min-width: 36px;
    height: 27px;

    .icon-wrapper > * {
      font-size: 1.1rem;
    }
  }

  &.btn-md {
    padding: 3px 12px;
    font-size: 0.95rem;
    min-width: 36px;
    height: 34px;

    .icon-wrapper > * {
      font-size: 1.4rem;
    }
  }

  &.btn-lg {
    padding: 3px 22px;
    font-size: 1.1rem;
    min-width: 36px;
    height: 42px;

    .icon-wrapper > * {
      font-size: 1.6rem;
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: #43c888;
    border: 1px solid #43c888;

    &.btn-outlined {
      background-color: transparent;
      border: 1px solid #43c888;
      color: #43c888;
    }

    &.btn-outlined.active {
      background-color: #43c888;
      border: 1px solid transparent;
      color: #fff;
    }

    &.btn-filled {
      background-color: #43c888;
      border: 1px solid #43c888;
      color: #fff;
    }

    &.btn-filled.active {
      background-color: #45a577;
      border: 1px solid #43c888;
      color: #fff;
    }
  }

  &.btn-secondary {
    color: #fff;
    background-color: #a7a7a7;
    border: 1px solid #a7a7a7;

    &.btn-outlined {
      background-color: transparent;
      border: 1px solid #a7a7a7;
      color: #a7a7a7;
    }

    &.btn-outlined.active {
      background-color: #a7a7a7;
      border: 1px solid #a7a7a7;
      color: #fff;
    }

    &.btn-filled {
      background-color: transparent;
      border: 1px solid #43c888;
      color: #43c888;
    }

    &.btn-filled.active {
      background-color: #43c888;
      border: 1px solid transparent;
      color: #526484;
    }
  }
}

.dropdown-item {
  color: $text-color-secendary;
  font-size: 0.95rem;
  font-weight: 500;
}

@include query(mobile) {
  .dropdown-btn,
  .dropdown-item {
    font-size: 0.65rem;
  }
}

.dropdown-content {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  width: 100%;
  z-index: 2;
  padding: 0.5rem 0;
}

.dropdown-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.4s;
  line-height: 1.3rem;
  position: relative;
  padding: 0.5rem 0.5rem;
}

.dropdown-item:hover {
  background: #f4f4f4;
}

.dropdown-item.active::after {
  content: '✔';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}

.error {
  color: red;
}
