.listGroup {
    list-style: none;
    margin: 0;
    padding: 0;
}

.listGroupItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    line-height: 1.2;
}