.performanceWidget {
    width: 5.3rem;
    margin: 0;
    font-weight: 400;
    padding: 0.3rem 0rem;
    display: flex;
    justify-content: center;
    border-radius: 0.48rem;
    align-content: center;
    align-items: center;
    color: white;
}

.negativePerformace{
    @extend .performanceWidget;
    color: #ef6767;
    background-color: rgba(239,103,103,.18);
}

.positivePerformace{
    @extend .performanceWidget;
    color: #34c38f;
    background-color: rgba(52,195,143,.18);
}
