$breakpoint-alpha: 480px; // adjust to your needs

.table {
    margin: 1em 0;
    min-width: 300px; // adjust to your needs
    border-collapse: collapse;
    width: 100%;

    thead{
        tr{
            padding-bottom: 1rem;
            border-top: none;
        }

        th{

            padding: 0.8em 0.5em;
            color: #8f8f8f;
            font-weight: 400;
        }

    }

    tr {
        border-top: 1px solid rgb(243 243 243);
        border-bottom: 1px solid rgb(243 243 243);

        &:nth-child(even){
            background: #f9f9f9;
        }
    }

    th {
        display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
    }

    td {
        display: block;

        &:first-child {
            padding-top: .5em;
            padding-left: 0.5rem;
            color: #787878;
            font-weight: 400;
        }

        &:last-child {
            padding-bottom: .5em;
        }

        &:before {
            content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
            font-weight: bold;

            // optional stuff to make it look nicer
            width: 6.5em; // magic number :( adjust according to your own content
            display: inline-block;
            // end options

            @media (min-width: $breakpoint-alpha) {
                display: none;
            }
        }
    }

    th,
    td {
        text-align: left;

        @media (min-width: $breakpoint-alpha) {
            display: table-cell;
            padding: .25em .5em;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

}

