.info .title {
    
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 0.9rem;
}

.info .price {
    font-size: .8125rem;
    color: #8094ae;
    margin-bottom: 1px;
}

.total{
    margin-left: auto;
    text-align: right;
}



.total .amount {
    font-size: .9375rem;
    color: #364a63;
    margin-bottom: 0.25rem;
    font-weight: 500;
}

.total .count {
    font-size: .8125rem;
    color: #8094ae;
    margin-bottom: 1px;
}

.thumb{
    width: 44px;
    margin-right: 1rem;

    img {
        border-radius: 4px;
    }
}


.itemWrapper{
    display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0;
        line-height: 1.2;
    }
