.card {
    position: relative;
    word-wrap: break-word;  
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #fff;
    border-radius: 0.25rem;
    min-width: 0;
    
    background-clip: border-box;
    
}

.card-header {
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,.03);
    margin-bottom: 0;   
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-title{}


.card-content{}